#titlearea{
    background-image : linear-gradient(#393a38,#000000);
color:#FFFFFF;
}
.textblock > .image{
    float:left;
}

div .image{
    margin:10px;
    display:inline-block;
}

h2{
clear:both;
}

